<!DOCTYPE html>
<html>
  <head>
    <title>Tulsaurbanist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      body>.main {
        width: 60dvw;
        border: 1px solid cadetblue;
        height: 40dvh;
      }
    </style>
  </head>

  <body>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
